.card {
  /* background-color: darkgray; */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}

.card-title {
  margin-bottom: 0; /* Elimina el margen inferior del título dentro del card-body */
}

.text-end {
  text-align: right; /* Alinea el contenido a la derecha */
}
button{
  margin-top: 5px;
}

.btn-group {
  margin-left: 10px; /* Agrega espacio entre los botones */
}
.btn-guardar {
  background-color: #0056b3; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Quita el borde del botón */
  border-radius: 5px; /* Añade bordes redondeados al botón */
  padding: 10px 18px; /* Ajusta el espacio interior del botón */
  margin-top: 1px;
  font-size: 12px; /* Tamaño del texto del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
.btn-guardar:hover {
  background-color: #007bff; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
.btn-guardar:focus {
  outline: none; /* Quita el contorno al enfocar el botón */
}
/* .button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
 */
/* .left-aligned-button {
  order: -1;
  margin-right: 10px;
} */

table {
    width: 100%; /* Ancho de la tabla */
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno de las celdas */
    text-align: left; /* Alineación del texto */
  }
  
  th {
    background-color: #007bff; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color del texto del encabezado de la tabla */
  }

  .custom-table {
    width: 100%; /* Ajusta el ancho de la tabla */
  }
  
  .custom-table th {
    text-align: center; /* Alinea el texto en el centro de las celdas de la cabecera */
  }
  
  .custom-table th:last-child {
    text-align: right; /* Alinea el texto de la última celda de la cabecera a la derecha */
  }
  
  .custom-table td {
    vertical-align: middle; /* Alinea el contenido verticalmente al centro en las celdas de datos */
  }
  
  .custom-table .action-column {
    text-align: right; /* Alinea el texto de la columna de acciones a la derecha */
  }
  